body {
    margin: 0;
    padding: 0;
    background: url(../images/2690606.webp) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: rgb(15, 38, 56);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 10px2;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #07b0ff;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  } 

  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1556ce;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-register {
    width: 420px;
    height: 790px;
    background: rgb(15, 38, 56);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
  }
  
  .login-register h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-register label {
    margin: 0;
    padding: 10px2;
    font-weight: bold;
    display: block;
  }
  
  .login-register input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-register input[type="text"], .login-register input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
 
  .login-register input[type="submit"]:hover {
    cursor: pointer;
    background: #07b0ff;
    color: #000;
  }
  
  .login-register a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-register a:hover {
    color: #fff;
  } 

  .login-register input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1556ce;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }


.principal{
  width: 100%;
  height: 60px;
  padding: 1px;
  background: rgb(15, 38, 56);
  margin-top: 0px;
  box-sizing: border-box;

}

.principal img{
float: left;
  height: 50px;
}

.principal button{
  border: 0px;
  border-radius: 12px;
  background-color: transparent;
  outline: none;
  height: 60px;
  font-size: 20px;
  margin-left: 60px;
  color: #fff;
}

#inicio{
  margin-left: 200px;
}

.principal button:hover {
  color: rgb(107, 105, 105);
}

#español{
  height: 30px;
  width: 140px;
  background-color: grey;
  margin-left: 200px;
  margin-top: 15px;
  font-size: 20px;
  padding-left: 0%;
  

}

#texto{
  width: 80px;
  background-color: transparent;
  float: right;
  font-size: 20px;
  color: #fff;
  border: none;
  
}

#ingles{
  height: 30px;
  width: 140px;
  background-color: grey;
  margin-left: 0px;
  margin-top: 15px;
  font-size: 20px;
  padding-left: 0%;

}


.contenerdor{
  padding: 0;
width: 100%;
height: 100%;
background-color: #000;

}

.slider{
  padding: 0;
  width: 90%;
  height: 95%;
  margin: auto;
  overflow: hidden;
}

.slider ul{
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 20s infinite;
  animation-direction: alternate;
} 

.slider li{
  width: 100%;
  list-style: none;
}

.slider img{
  width: 100%;
}

@keyframes cambio{
0% {margin-left: 0;}
20% {margin-left: 0;}

25% {margin-left: -100%;}
45% {margin-left: -100%;}

50% {margin-left: -200%;}
70% {margin-left: -200%;}

75% {margin-left: -300%;}
100% {margin-left: -300%;}

}