.container-reserva{
  height: 20vw;
}

.btn-2 {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: rgb(15, 38, 56);
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0.5vw;
	margin-left: 39vw;
  margin-top: 1vw;
  width: 8vw;
}