<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrarse</title>
  <link rel="stylesheet" href="../static/css/styles_login.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="login-register">
    
    <h4>Política de privacidad y tratamiento de datos personales</h4>
    <h4>1. Sobre tus datos personales</h4>
      <p>Para acceder a los servicios de Rose Rayhaan deberá suministrar voluntaria y libremente, sus datos ciertos, no sensibles de identificación personal, como son: nombre, apellidos, identificación, edad, teléfono, ciudad y demás datos necesarios que le sean solicitados en el proceso de registro.
      </p>
      <h4>2. Almacenamiento de datos personales</h4>
      <p>
        Los datos personales de todos nuestros clientes y/o usuarios se almacenarán en una base de datos que se encuentra detrás de un firewall para mayor seguridad. El servidor en donde reposa la base de datos está protegido físicamente en un lugar seguro. Sólo personal autorizado puede acceder a él y por tanto a los datos personales de nuestros clientes y/o usuarios.
      </p>
    <h4>3. Vigencia</h4>
    <p>El cliente y/o Usuario acepta y reconoce que esta autorización estará vigente a partir del momento en que la aceptó y durante el tiempo en que Rose Rayhaan Ejerza las actividades propias de su objeto social.</p>
    <input type="submit" value="Cerrar" class="form-control" onclick=window.close()>

</div>
</body>

</html>