<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitaciones</title>
    <link rel="stylesheet" href="../static/css/styles_header.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/style_crud.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src=../static/js/main.js></script>
</head>

<body>
    <header>
        </div>
        <nav>
            <div class="logo">
                <img src="../static/images/hote_rotana_logo3.png" align="left" alt="Rose Rayhaan" />
            </div>
            <div class="rightSection">
                {% for user in user_login %}
                <a class="links" href="/inicio">Inicio</a>
                <a class="links" href="/lista-habitaciones">Habitaciones</a>
                <a class="links" href="/mis-reservas">Mis reservas</a>
                {% if user.9 == 'admin' or user.9=='superadmin' %}
                <a class="links" href="/habitaciones">Gestionar habitaciones</a>
                {% endif %}
      			{% if user.9 == 'admin' or user.9=='superadmin' %}
                <a class="selected links" href="/usuarios">Gestionar usuarios</a>
                {% endif %}
				{% if user.9 == 'superadmin' %}
                <a class="links" href="/administradores">Gestionar administradores</a>
                {% endif %}
                <a class="links" href="#footer-Section">Contacto</a>
                <a class="links" href="/perfil">Mi cuenta</a>
                <a class="links" href="/log-out">Salir</a>
                {% endfor %}
            </div>
        </nav>
    </header>


    {% for user in edit_user %}
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">

                        <form action='/update-user/{{ user.0 }}' method="post">
                            <div class="modal-header">
                                <h4 class="modal-title">Editar Usuario</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" name="nombre" value="{{ user.1 }}" required>
                                </div>
                                <div class="form-group">
                                    <label>Apellido</label>
                                    <input type="text" class="form-control" name="apellido" value="{{ user.2 }}"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label>Cedula</label>
                                    <input type="text" class="form-control" name="cedula" value="{{ user.3 }}"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label>Edad</label>
                                    <input type="text" class="form-control" name="edad" value="{{ user.4 }}" required>
                                </div>
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <input type="text" class="form-control" name="ciudad" value="{{ user.5 }}" required>
                                </div>
                                <div class="form-group">
                                    <label>Telefono</label>
                                    <input type="text" class="form-control" name="telefono" value="{{ user.6 }}" required>
                                </div>
                                <div class="form-group">
                                    <label>Permisos</label>
                                    <input type="text" class="form-control" name="permisos" value="{{ user.9 }}" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-info" value="Guardar">
                            </div>

                        </form>
                        <div class="modal-footer">
                            <form action="/usuarios" method='post'>
                                <div>
                                    <input type="submit" class="btn btn-default" value="Cancelar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <footer id="footer-Section">
        <div class="footer-top-layout">
            <div class="container">
                <div class="row">
                    <div class="OurBlog">
                        <h4>Rose Rayhaan</h4>
                        <p>Esta es la versión de nuestro sitio web destinada a personas que hablen español</p>
                    </div>
                    <div class=" col-lg-8 col-lg-offset-2">
                        <div class="col-sm-4">
                            <div class="footer-col-item">
                                <h4>Dirección</h4>
                                <address>
                                    heikh Zayed Rd - Trade Centre - DIFC<br>
                                    Dubai - Emiratos Árabes Unidos
                                </address>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer-col-item">
                                <h4>Contáctanos</h4>
                                <div class="item-contact"> <a href="tel:630-885-9200"><span
                                            class="link-id">P</span>:<span>68-70-334</span></a> <a
                                        href="tel:6-831-2012"><span
                                            class="link-id">F</span>:<span>630-839.2006</span></a> <a
                                        href="mailto:info@brandcatmedia.com"><span
                                            class="link-id">E</span>:<span>info@Rotana.com</span></a> </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer-col-item">
                                <h4>Suscríbete para obtener noticias</h4>
                                <form class="signUpNewsletter" action="" method="get">
                                    <input name="" class="gt-email form-control" placeholder="example@gmail.com"
                                        type="text">
                                    <input name="" class="btn-go" value="Ir" type="button">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-layout">
            <div class="copyright-tag">© 2022 Rose Rayhaan by Rotana. Todos los derechos reservados</div>
        </div>
    </footer>
</body>

</html>