<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mis reservas | Rose Rayhaan</title>
    <link rel="stylesheet" href="../static/css/style_mi_reserva.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/styles_header.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>

    <div class="mis_reservas">
      

      <nav>
        <div class="logo">
            <img src="../static/images/hote_rotana_logo3.png" align="left" alt="Rose Rayhaan" />
        </div>
        <div class="rightSection">
            {% for user in users %}
            <a class="links" href="/inicio">Inicio</a>
            <a class="links" href="/lista-habitaciones">Habitaciones</a>
            <a class="selected links" href="/mis-reservas">Mis reservas</a>
            {% if user.9 == 'admin' or user.9=='superadmin' %}
            <a class="links" href="/habitaciones">Gestionar habitaciones</a>
            {% endif %}
            {% if user.9 == 'admin' or user.9=='superadmin' %}
            <a class="links" href="/usuarios">Gestionar usuarios</a>
            {% endif %}
            {% if user.9 == 'superadmin' %}
            <a class="links" href="/administradores">Gestionar administradores</a>
            {% endif %}
            <a class="links" href="#footer-Section">Contacto</a>
            <a class="links" href="/perfil">Mi cuenta</a>
            <a class="links" href="/log-out">Salir</a>
            {% endfor %}
        </div>
    </nav>
    

<div class="contenerdor">
    <div class="slider1">

      <ul>
        <li><img src="../static/images/habitaciongrande.jpg" alt=""></li>

    </div>

    
    <div class="Reserva2" name="ventana" id="ventana">
      <h1>Reserva del usuario</h1>
      <form action="/update-reserva/{{data.0.1}}/{{data.0.0}}" method="post">
      <p>Fecha de ingreso<input type="date" name="Ingreso" id="Ingreso" value="{{data.0.2}}" style= "border-radius: 10px;font-size: larger;" /></p>
      <p>Fecha de salida <input type="date" name="Salida" id="Salida" value="{{data.0.3}}" style= "border-radius: 10px;font-size: larger;" /></p>
      <p>
       
        {% for user in users %}
        {% if user.9 == 'user'  %}
        Cedula de la persona a cargo de la reserva
        <input type="text" class="form-control" name="cedula" value="{{data.0.1}}" readonly>
        Numero de la habitacion reservada
        <input type="number" class="form-control" name="room" id="room" value="{{data.0.0}}" readonly>
        Correo de la persona a cargo de la reserva
        <input type="text" class="form-control" name="correo" value="{{data.0.4}}" readonly>

        {% endif %}

        {% if user.9 == 'admin' or user.9=='superadmin'  %}
        Cedula de la persona a cargo de la reserva
        <input type="text" class="form-control" name="cedula" value="{{data.0.1}}" >
        Numero de la habitacion reservada
        <input type="number" class="form-control" name="room" value="{{data.0.0}}" >
        Correo de la persona a cargo de la reserva
        <input type="text" class="form-control" name="correo" value="{{data.0.4}}" >

        {% endif %}

        {% endfor %}
 

      </p>
      
      <input type="submit" value="Modificar reserva" /></form>
<form action="/delete-reserva/{{data.0.1}}/{{data.0.0}}">
      <input type="submit" value="Cancelar reserva" onclick="return ConfirmDelete()" />
</form>
      <div id="cerrar"><a href="/mis-reservas"> <img src="../static/images/close.png" alt="cerrar" width="50" height="50" /> </a></div>
    </div>
    <footer id="footer-Section">
      <div class="footer-top-layout">
          <div class="container">
              <div class="row">
                  <div class="OurBlog">
                      <h4>Rose Rayhaan</h4>
                      <p>Esta es la versión de nuestro sitio web destinada a personas que hablen español</p>
                  </div>
                  <div class=" col-lg-8 col-lg-offset-2">
                      <div class="col-sm-4">
                          <div class="footer-col-item">
                              <h4>Dirección</h4>
                              <address>
                                  heikh Zayed Rd - Trade Centre - DIFC<br>
                                  Dubai - Emiratos Árabes Unidos
                              </address>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="footer-col-item">
                              <h4>Contáctanos</h4>
                              <div class="item-contact"> <a href="tel:630-885-9200"><span
                                          class="link-id">P</span>:<span>68-70-334</span></a> <a
                                      href="tel:6-831-2012"><span
                                          class="link-id">F</span>:<span>630-839.2006</span></a> <a
                                      href="mailto:info@brandcatmedia.com"><span
                                          class="link-id">E</span>:<span>info@Rotana.com</span></a> </div>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="footer-col-item">
                              <h4>Suscríbete para obtener noticias</h4>
                              <form class="signUpNewsletter" action="" method="get">
                                  <input name="" class="gt-email form-control" placeholder="example@gmail.com"
                                      type="text">
                                  <input name="" class="btn-go" value="Ir" type="button">
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-bottom-layout">
          <div class="copyright-tag">© 2022 Rose Rayhaan by Rotana. Todos los derechos reservados</div>
      </div>
  </footer>
<script>
    function ConfirmDelete() {
        var respuesta = confirm("Estas seguro que deseas eliminar la reserva")
        if (respuesta == true) {
            return true;
        }
        else {
            return false;
        }
    }
</script>



  </body>
</html>

