<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inicio | Rose Rayhaan</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>
  <body>
      

      <nav>
          <div class="logo">
          <img src="../static/images/hote_rotana_logo3.png" align="left" alt="Rose Rayhaan"/>
          </div>
          <div class="rightSection">
          <a class="selected links" href="/inicio">Inicio</a>
          <a class="links" href="#">Habitaciones</a>
          <a class="links" href="#">Mis reservas</a>
          <a class="links" href="#">Gestionar habitaciones</a>
          <a class="links" href="#">Gestionar usuarios</a>
          <a class="links" href="#">Gestionar administradores</a>
          <a class="links" href="#">Contacto</a>
          <a class="links" href="#">Mi cuenta</a>
          </div>
        </nav>
    

<div class="contenerdor">
    <div class="slider">
      <div class="texto">Rose Rayhaan</div>
      <div class="texto-sec">by Rotana</div>
      <ul>
        <li><img src="../static/images/habitaciongrande.jpg" alt=""></li>
        <li><img src="../static/images/piscinagrande.jpg" alt=""></li>
        <li><img src="../static/images/lobbygrande.jpg" alt=""></li>
        <li><img src="../static/images/restauranregrande.jpg" alt=""></li>
      </ul>     
    </div>  
  </div>
  
  <div class="contenedor-cuerpo">
    
    <div class="Titulo-1">
      ¿Quiénes somos?
    </div>
      <img src="../static/images/rose rotana imre-o500pix2.jpg" alt="">
      <img src="../static/images/Rose_Tower_002.jpg" alt="">
    
  </div>
  </body>
</html>