<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inicio | Rose Rayhaan</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>
  <body>

    <div class="principal">
      

      <form>
          <img src="../static/images/hote_rotana_logo3.png" align="left" alt="Rose Rayhaan"/>
        <button id="inicio">
            Inicio
        </button> 
        <button id="Habitaciones">
            Habitaciones
        </button> 
        <button id="Mis_reservas">
            Mis reservas
        </button>
        <button id="Servicios">
            Gestionar habitaciones
        </button> 
        <button id="Gusuarios">
            Gestionar usuarios
        </button>
        <button id="Gadmin">
            Gestionar administradores
      </button>
      <button id="español">
        <input type="image" itemid="imagen_1" src="../static/images/icon.webp"  alt="español" id="español_img" height="30px"/>
        <input type="button" id="texto" value="Mi cuenta"/>
    </button>
      </form>
    </div>

<div class="contenerdor">
    <div class="slider">
      <div class="texto">Rose Rayhaan</div>
      <div class="texto-sec">by Rotana</div>
      <ul>
        <li><img src="../static/images/habitaciongrande.jpg" alt=""></li>
        <li><img src="../static/images/piscinagrande.jpg" alt=""></li>
        <li><img src="../static/images/lobbygrande.jpg" alt=""></li>
        <li><img src="../static/images/restauranregrande.jpg" alt=""></li>
      </ul>     
    </div>  
  </div>
  
  <div class="contenedor-cuerpo">
    
    <div class="Titulo-1">
      ¿Quiénes somos?
    </div>
      <img src="../static/images/rose rotana imre-o500pix2.jpg" alt="">
      <img src="../static/images/Rose_Tower_002.jpg" alt="">
    
  </div>
  </body>
</html>