<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mis reservas | Rose Rayhaan</title>
  <link rel="stylesheet" href="../static/css/style_mi_reserva.css">
  <link rel="icon" href="../static/images/hotel3.png">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="../static/css/styles_header.css">
  <link rel="stylesheet" href="../static/css/style_flask_message.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src=../static/js/main.js></script>
</head>

<body>

  <body>

    <div class="mis_reservas">
      

      <nav>
        <div class="logo">
            <img src="../static/images/hote_rotana_logo3.png" align="left" alt="Rose Rayhaan" />
        </div>
        <div class="rightSection">
            {% for user in users %}
            <a class="links" href="/inicio">Inicio</a>
            <a class="links" href="/lista-habitaciones">Habitaciones</a>
            <a class="selected links" href="/mis-reservas">Mis reservas</a>
            {% if user.9 == 'admin' or user.9=='superadmin' %}
            <a class="links" href="/habitaciones">Gestionar habitaciones</a>
            {% endif %}
            {% if user.9 == 'admin' or user.9=='superadmin' %}
            <a class="links" href="/usuarios">Gestionar usuarios</a>
            {% endif %}
            {% if user.9 == 'superadmin' %}
            <a class="links" href="/administradores">Gestionar administradores</a>
            {% endif %}
            <a class="links" href="#footer-Section">Contacto</a>
            <a class="links" href="/perfil">Mi cuenta</a>
            <a class="links" href="/log-out">Salir</a>
            {% endfor %}
        </div>
    </nav>
    
	{% for message in get_flashed_messages() %}
	<div class="alert alert-info" role="alert">
		<strong>{{ message }}!</strong>
	  </div>
	{% endfor %}


   <!-- {% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
    {% for mensaje in mensajes %}
    <div class="alert" id="alert">
       <h1> {{mensaje}} </h1>
        <div id="cerrar"><a href="javascript:cerrar()"> <img src="../static/images/close.png" alt="cerrar" width="50" height="50" /> </a></div>
      </div>
    {% endfor %}
    {% endif %}
    {% endwith %} -->


<div class="contenerdor">
    <div class="slider1">

      <ul>
        <li><img src="../static/images/habitaciongrande.jpg" alt=""></li>

    </div>

    <div class="Reserva">
    <h1>Buscar reserva</h1>
    <form action="/mis-reservas/reserva" method="post">
      <label for="NReserva">Numero de la habitacion reservada</label>
      <input type="number" id="reserv" name="reserv" placeholder="Ingrese aca su numero de habitacion" required/>
      <label for="Cedula">Cedula</label>
      <input type="number" id="ced" name="ced" placeholder="Ingrese solo numeros" required />
      <input type="submit" value="Buscar"/>
    </form>

    </div>

    <footer id="footer-Section">
      <div class="footer-top-layout">
          <div class="container">
              <div class="row">
                  <div class="OurBlog">
                      <h4>Rose Rayhaan</h4>
                      <p>Esta es la versión de nuestro sitio web destinada a personas que hablen español</p>
                  </div>
                  <div class=" col-lg-8 col-lg-offset-2">
                      <div class="col-sm-4">
                          <div class="footer-col-item">
                              <h4>Dirección</h4>
                              <address>
                                  heikh Zayed Rd - Trade Centre - DIFC<br>
                                  Dubai - Emiratos Árabes Unidos
                              </address>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="footer-col-item">
                              <h4>Contáctanos</h4>
                              <div class="item-contact"> <a href="tel:630-885-9200"><span
                                          class="link-id">P</span>:<span>68-70-334</span></a> <a
                                      href="tel:6-831-2012"><span
                                          class="link-id">F</span>:<span>630-839.2006</span></a> <a
                                      href="mailto:info@brandcatmedia.com"><span
                                          class="link-id">E</span>:<span>info@Rotana.com</span></a> </div>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="footer-col-item">
                              <h4>Suscríbete para obtener noticias</h4>
                              <form class="signUpNewsletter" action="" method="get">
                                  <input name="" class="gt-email form-control" placeholder="example@gmail.com"
                                      type="text">
                                  <input name="" class="btn-go" value="Ir" type="button">
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-bottom-layout">
          <div class="copyright-tag">© 2022 Rose Rayhaan by Rotana. Todos los derechos reservados</div>
      </div>
  </footer>

<script>
    function cerrar() {
      document.getElementById("alert").style.display="none";
}


</script>

  </body>
</html>