<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../static/css/styles_login.css">
  </head>
  <body>

    <div class="login-register">
      
      <h1>Regístrate</h1>
      <form action="/">
        <label for="username">Nombres</label>
        <input type="text" placeholder="Nombres">
        <label for="Apellido">Apellidos</label>
        <input type="text" placeholder="Apellidos">
        <label for="Cedula">Cédula</label>
        <input type="text" placeholder="Cédula de ciudadanía">
        <label for="Edad">Edad</label>
        <input type="text" placeholder="Edad">
        <label for="Ciudad">Ciudad</label>
        <input type="text" placeholder="Ciudad">
        <label for="Telefono">Teléfono</label>
        <input type="text" placeholder="Teléfono">
        <label for="Correo">Correo electrónico</label>
        <input type="text" placeholder="example@gmail.com">
        <label for="Correo">Contraseña</label>
        <input type="text" placeholder="Contraseña">
        <input type="submit" value="Registrarse">
      </form>
    </div>
  </body>
</html>
