<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Usuarios</title>
	<link rel="stylesheet" href="../static/css/styles_header.css">
	<link rel="stylesheet" href="../static/css/styles.css">
	<link rel="stylesheet" href="../static/css/style_crud.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../static/js/main.js"></script>
</head>

<body>
	<header>
		</div>
		<nav>
			<div class="logo">
				<img src="../static/images/hote_rotana_logo3.png" align="left" alt="Rose Rayhaan" />
			</div>
			<div class="rightSection">
				<a class="links" href="/inicio">Inicio</a>
				<a class="links" href="/lista-habitaciones">Habitaciones</a>
				<a class="links" href="/mis-reservas">Mis reservas</a>
				<a class="links" href="/habitaciones">Gestionar habitaciones</a>
				<a class="selected links" href="/usuarios">Gestionar usuarios</a>
				<a class="links" href="/administradores">Gestionar administradores</a>
				<a class="links" href="#footer-Section">Contacto</a>
				<a class="links" href="/perfil">Mi cuenta</a>
			</div>
		</nav>
	</header>
	<div class="container">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-xs-6">
							<h2>Gestionar <b>Usuarios</b></h2>
						</div>
						<div class="col-xs-6">
							<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
									class="material-icons">&#xE147;</i> <span>Añadir usuario</span></a>
							<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i
									class="material-icons">&#xE15C;</i> <span>Eliminar</span></a>
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>
								<span class="custom-checkbox">
									<input type="checkbox" id="selectAll">
									<label for="selectAll"></label>
								</span>
							</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Cédula</th>
							<th>Teléfono</th>
							<th>Correo electrónico</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox1" name="options[]" value="1">
									<label for="checkbox1"></label>
								</span>
							</td>
							<td>Nestor</td>
							<td>Hernandez</td>
							<td>12921218</td>
							<td>3452332111</td>
							<td>Nestor@gmail.com</td>
							<td>
								<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons"
										data-toggle="tooltip" title="Editar">&#xE254;</i></a>
								<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
										class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i></a>
							</td>
						</tr>
						<tr>
							<td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox2" name="options[]" value="1">
									<label for="checkbox2"></label>
								</span>
							</td>
							<td>Viviana</td>
							<td>Zambrano</td>
							<td>263711212</td>
							<td>3133654123</td>
							<td>vivianita2@outlook.com</td>
							<td>
								<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons"
										data-toggle="tooltip" title="Editar">&#xE254;</i></a>
								<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
										class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i></a>
							</td>
						</tr>
						<tr>
							<td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox3" name="options[]" value="1">
									<label for="checkbox3"></label>
								</span>
							</td>
							<td>Maria</td>
							<td>Moreno</td>
							<td>821712721</td>
							<td>3176125215</td>
							<td>mhgf@hotmail.com</td>
							<td>
								<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons"
										data-toggle="tooltip" title="Editar">&#xE254;</i></a>
								<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
										class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i></a>
							</td>
						</tr>
						<tr>
							<td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox4" name="options[]" value="1">
									<label for="checkbox4"></label>
								</span>
							</td>
							<td>Camilo</td>
							<td>Jimenez</td>
							<td>212132131</td>
							<td>321213213</td>
							<td>camilojimenez@gmail.com</td>
							<td>
								<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons"
										data-toggle="tooltip" title="Editar">&#xE254;</i></a>
								<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
										class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i></a>
							</td>
						</tr>
						<tr>
							<td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox5" name="options[]" value="1">
									<label for="checkbox5"></label>
								</span>
							</td>
							<td>Alexa</td>
							<td>Morales</td>
							<td>21212121</td>
							<td>3212312212</td>
							<td>aniko@gmail.com</td>
							<td>
								<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons"
										data-toggle="tooltip" title="Editar">&#xE254;</i></a>
								<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
										class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i></a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="clearfix">
					<div class="hint-text">Visualizando<b>5</b> de <b>25</b> registros</div>
					<ul class="pagination">
						<li class="page-item disabled"><a href="#">Anterior</a></li>
						<li class="page-item"><a href="#" class="page-link">1</a></li>
						<li class="page-item"><a href="#" class="page-link">2</a></li>
						<li class="page-item active"><a href="#" class="page-link">3</a></li>
						<li class="page-item"><a href="#" class="page-link">4</a></li>
						<li class="page-item"><a href="#" class="page-link">5</a></li>
						<li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Añadir Usuario</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Nombre</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Apellido</label>
							<input type="email" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Cédula</label>
							<textarea class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Edad</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Ciudad</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Teléfono</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Correo electrónico</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Contraseña</label>
							<input type="password" class="form-control" required>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Añadir">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="editEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Editar Usuario</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Nombres</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Apellidos</label>
							<input type="email" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Cédula</label>
							<textarea class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Edad</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Ciudad</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Teléfono</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Correo electrónico</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Contraseña</label>
							<input type="password" class="form-control" required>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-info" value="Guardar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="deleteEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Eliminar Usuario</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>¿Está seguro que desea eliminarlo?</p>
						<p class="text-warning"><small>Esta acción no se puede deshacer</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" value="Delete">
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer id="footer-Section">
		<div class="footer-top-layout">
			<div class="container">
				<div class="row">
					<div class="OurBlog">
						<h4>Rose Rayhaan</h4>
						<p>Esta es la versión de nuestro sitio web destinada a personas que hablen español</p>
					</div>
					<div class=" col-lg-8 col-lg-offset-2">
						<div class="col-sm-4">
							<div class="footer-col-item">
								<h4>Dirección</h4>
								<address>
									heikh Zayed Rd - Trade Centre - DIFC<br>
									Dubai - Emiratos Árabes Unidos
								</address>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="footer-col-item">
								<h4>Contáctanos</h4>
								<div class="item-contact"> <a href="tel:630-885-9200"><span
											class="link-id">P</span>:<span>68-70-334</span></a> <a
										href="tel:6-831-2012"><span
											class="link-id">F</span>:<span>630-839.2006</span></a> <a
										href="mailto:info@brandcatmedia.com"><span
											class="link-id">E</span>:<span>info@Rotana.com</span></a> </div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="footer-col-item">
								<h4>Suscríbete para obtener noticias</h4>
								<form class="signUpNewsletter" action="" method="get">
									<input name="" class="gt-email form-control" placeholder="example@gmail.com"
										type="text">
									<input name="" class="btn-go" value="Ir" type="button">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom-layout">
			<div class="copyright-tag">© 2022 Rose Rayhaan by Rotana. Todos los derechos reservados</div>
		</div>
	</footer>
</body>

</html>